In [2]:

# import libraries
import pandas as pd
import numpy as np

# data visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [3]:
# read data
data = pd.read_csv(R'/Users/skyler/Documents/GitHub/Homework/amz_uk_price_prediction_dataset.csv')
data.head()

,uid,asin,title,stars,reviews,price,isBestSeller,boughtInLastMonth,category
0,1,B09B96TG33,"Echo Dot (5th generation, 2022 release) | Big ...",4.7,15308,21.99,False,0,Hi-Fi Speakers
1,2,B01HTH3C8S,"Anker Soundcore mini, Super-Portable Bluetooth...",4.7,98099,23.99,True,0,Hi-Fi Speakers
2,3,B09B8YWXDF,"Echo Dot (5th generation, 2022 release) | Big ...",4.7,15308,21.99,False,0,Hi-Fi Speakers
3,4,B09B8T5VGV,"Echo Dot with clock (5th generation, 2022 rele...",4.7,7205,31.99,False,0,Hi-Fi Speakers
4,5,B09WX6QD65,Introducing Echo Pop | Full sound compact Wi-F...,4.6,1881,17.99,False,0,Hi-Fi Speakers

In [ ]:
# check for missing values
data.isnull().sum()

In [ ]:
# cehck for duplicates
data.duplicated().sum()

What are the most popular product categories on Amazon UK, and how do they compare in terms of listing frequency?

In [ ]:
# check category types
data.dtypes

In [ ]:
# change category type to string
data['category'] = data['category'].astype(str)

In [1]:
pd.DataFrame(data['category'].value_counts())

NameError: name 'pd' is not defined

In [4]:
# create a table of category and count
category = data['category'].value_counts().reset_index()

In [5]:
category

                                   category   count
0                         Sports & Outdoors  836265
1                                    Beauty   19312
2    Handmade Clothing, Shoes & Accessories   19229
3                               Bath & Body   19092
4                            Birthday Gifts   18978
..                                      ...     ...
291                  Alexa Built-In Devices     107
292                       Motorbike Chassis     107
293                                   Plugs     107
294          Smart Home Security & Lighting     104
295                          Smart Speakers      54

[296 rows x 2 columns]

In [ ]:
# plot category distribution

plt.figure(figsize=(12, 100))
sns.countplot(data=data, y='category', order=data['category'].value_counts().index)
plt.title('Category Distribution')
plt.show()

In [ ]:
# plot category distribution
fig = px.bar(category, x='category', y='count', title='Category Distribution')
fig.show()

In [ ]:
# only show the top 5 categories and using a pie chart
category_top5 = category.head(5)
fig = px.pie(category_top5, values='count', names='category', title='Top 5 Category Distribution')
fig.show()

In [ ]:
#Generate a frequency table for the product category
categroy_frequency = data['category'].value_counts(ascending=False)

Part 2: Delving into Product Pricing
Business Question: How are products priced on Amazon UK, and are there specific price points or ranges that are more common?

Measures of Centrality:

Calculate the mean, median, and mode for the price of products.
What's the average price point of products listed? How does this compare with the most common price point (mode)?

In [ ]:
data.head()

In [ ]:
# count unique values in price
data['price'].value_counts()

In [ ]:
data[data['price'] > 10000.00]

In [ ]:
# remove the outliers in price
data[data['price'] > 1000].value_counts().nunique()

In [ ]:
# calcaualte the mean, median, and mode of the price of products
price_mean = data['price'].mean()


price_median = data['price'].median()

price_mode = data['price'].mode()

In [ ]:
price_max = data['price'].max()
price_max

In [ ]:
price_mean

In [ ]:
price_median

In [ ]:
price_mode

In [ ]:
data['price'].describe()

In [ ]:
#Determine the variance, standard deviation, range, and interquartile range for product price.
price_variance = data['price'].var()
price_variance

In [ ]:
#How varied are the product prices? Are there any indicators of a significant spread in prices?
price_std = data['price'].std()
price_std

In [ ]:
#Plot a histogram to visualize the distribution of product prices.
fig = px.histogram(data, x='price', title='Product Price Distribution')
fig.show()

In [ ]:
#Use a box plot to showcase the spread and potential outliers in product pricing.
fig = px.box(data, y='price', title='Product Price Distribution')

fig.show()

In [ ]:
plt.figure(figsize=(12, 8))
sns.histplot(data['price'], bins= 60, kde=True, color='blue')
plt.title('Product Price Distribution')
plt.show()

In [ ]:
plt.figure(figsize=(12, 8))
sns.boxplot(data['price'], color='blue')
plt.title('Product Price Distribution')
plt.show()

In [ ]:
q1 = data['price'].quantile(0.25)
q3 = data['price'].quantile(0.75)
iqr = q3 - q1
std_dev = data['price'].std()

Part 3: Unpacking Product Ratings
Business Question: How do customers rate products on Amazon UK, and are there any patterns or tendencies in the ratings?

In [ ]:
mean_rating = data['rating'].mean()
median_rating = data['rating'].median()
mode_rating = data['rating'].mode()

In [ ]:
variance_rating = data['rating'].var()
std_dev_rating = data['rating'].std()
iqr_rating = data['rating'].quantile(0.75) - data['rating'].quantile(0.25)

In [ ]:
#Calculate the skewness of the product ratings.
skewness_rating = data['rating'].skew()
#Calculate the kurtosis of the product ratings.
kurtosis_rating = data['rating'].kurt()

In [ ]:
plt.figure(figsize=(12, 8))
sns.histplot(data['stars'], bins= 60, kde=True, color='blue')
plt.title('Product Rating Distribution')
plt.show()

In [ ]:
#Use a box plot to showcase the spread and potential outliers in product ratings.
plt.figure(figsize=(12, 8))
sns.kdeplot(data['stars'], color='blue', shade=True)
plt.title('Product Rating Distribution')
plt.show()